@font-face {
  font-family: "DM Sans";
  src: url(assets/fonts/DMSans-Regular.ttf);
}

@font-face {
    font-family: "DM Sans Italic";
    src: url(assets/fonts/DMSans-Italic.ttf);
}

@font-face {
    font-family: "DM Sans Bold";
    src: url(assets/fonts/DMSans-Bold.ttf);
}

@font-face {
    font-family: "DM Sans BoldItalic";
    src: url(assets/fonts/DMSans-BoldItalic.ttf);
}

@font-face {
  font-family: "Lora Bold";
  src: url(assets/fonts/Lora-Bold.ttf);
}

@font-face {
  font-family: "Lora BoldItalic";
  src: url(assets/fonts/Lora-BoldItalic.ttf);
}

@font-face {
  font-family: "DM Serif Text";
  src: url(assets/fonts/DMSerifText-Regular.ttf);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: whitesmoke;
}
